services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: signfile
      POSTGRES_USER: signfile
      POSTGRES_PASSWORD: signfile
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U signfile"]
      interval: 5s
      timeout: 5s
      retries: 5

  sign_file:
    image: sign-file:latest
    build:
      context: .
      target: sign-file
    # We could use:
    #  env_file:
    #    - path: "./.env"
    #      required: false
    # but it doesn't work on GitHub currently
    # https://github.com/docker/compose/issues/11591
    env_file: "./.env"
    command: "bash -c 'python3 db_manage.py dev_init && python3 start.py'"
    volumes:
      - "${SF_HOST_GNUPG:-./.gnupg}:/root/.gnupg"
      - ".:/app"
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy

  sign_file_tests:
    image: sign-file-tests:latest
    build:
      context: .
      target: sign-file-tests
    volumes:
      - ".:/app"

volumes:
  postgres_data:
